{
    "semi": true,
    "singleQuote": true,
    "singleAttributePerLine": false,
    "htmlWhitespaceSensitivity": "ignore",
    "printWidth": 100,
    "plugins": [
        "@prettier/plugin-php",
        "prettier-plugin-blade",
        "prettier-plugin-organize-imports",
        "prettier-plugin-tailwindcss"
    ],
    "tailwindFunctions": ["clsx", "cn"],
    "tailwindStylesheet": "resources/css/app.css",
    "tabWidth": 4,
    "overrides": [
        {
            "files": ["*.php"],
            "options": {
                "parser": "php",
                "phpVersion": "8.2",
                "tabWidth": 4,
                "singleQuote": true
            }
        },
        {
            "files": ["*.blade.php"],
            "options": {
                "parser": "blade",
                "tabWidth": 4,
                "sortTailwindcssClasses": true,
                "wrapAttributes": "auto"
            }
        },
        {
            "files": ["*.js", "*.jsx", "*.ts", "*.tsx"],
            "options": {
                "tabWidth": 2,
                "singleAttributePerLine": false
            }
        },
        {
            "files": ["*.yml", "*.yaml"],
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": ["*.md"],
            "options": {
                "proseWrap": "always",
                "tabWidth": 2
            }
        },
        {
            "files": ["*.json"],
            "options": {
                "tabWidth": 2
            }
        }
    ],
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "embeddedLanguageFormatting": "auto",
    "jsxSingleQuote": true,
    "quoteProps": "as-needed"
}
